<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food Deserts</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid">
      <%if market_list(@answer)[0] != nil%>
        <% Farmers_market.all.each do |market|%>
          <h2><%= market.name %></h2>
          <p><%= market.address + ' ' + market.city + ', ' + market.state + ' ' + market.zipcode %></p>
          <p><a href=<%= market.website %>><%= market.website %></a></p>
          <p><%= market.time %></p>
          <p><%= market.days_open %></p>
          <p>Accepts SNAP: <%= market.snap %></p>
        <%end%>
      <%else%>
        <p><%=market_list(@answer)[1]%></p>
      <%end%>
    </div>
  </body>
</html>
